###### Requirements without Version Specifiers ######
paho-mqtt 
pandas 
db-sqlite3
numpy
matplotlib

# Start mosquitto
# /usr/local/sbin/mosquitto

# Stop mosquitto
# ps aux | grep mosquitto
# kill PID